# Dependencies
node_modules/
.pnp/
.pnp.js

# Build output
dist/
build/
*.exe

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage/
.nyc_output/

# Logs
*.log
npm-debug.log*

# Session files
*.session
session-state/
/src/generated/prisma
/prisma/dev.db
/.next/cache/
/.next/server/
/.next/static/
/.next/types/
